.topic-container {
    height: 60px;
    width: 110px;
    border-width: 6px;
    border-color: gray;
    border-style: double dashed;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.topic-container:hover {
    border-width: 6px;
    border-color: silver;
    border-style: dashed double;
}

.topic-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.topic-logo img{
    height: 2.5rem;
    border-radius: 1.25rem;
}

.topic-title {
    width: 110px;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: smaller;
    text-align: center;
}

// .topic-title h6{

//     display: inline;
//     overflow: hidden;

// }
