.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header h3 {
    margin: 0;
}

.mat-form-field {
    width: 100%;
}

.favorite-form {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
