<div class="header-container">
  <div class="logo-wrap">
    <img class="logo-img" src="/assets/icons/logo_256.png" alt="icon"/>
    <h2>Group Blog</h2>
  </div>
  <div class="menu-wrap">
    <button mat-button *ngFor="let page of pages" [ngClass]="{'menu-selection-btn':page.checked}" (click)="onSkipPage(page.address)">
      <mat-icon>{{page.icon}}</mat-icon> {{page.name}}
    </button>
  </div>
  <div class="customer-wrap">
    <span class="role" [matMenuTriggerFor]="menu">{{userName}}</span>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onPsdReset()">
    <mat-icon>fingerprint</mat-icon>
    <span>修改密码</span>
  </button>
  <button mat-menu-item (click)="onLogoutClick()">
    <mat-icon>logout</mat-icon>
    <span>登出</span>
  </button>
</mat-menu>