.document-node-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: calc(768px + 6rem);
    margin-bottom: 0.7rem;
}

.node-input-container {
    flex: auto;
}

.node-operate-container {
    margin-left: 0.5rem;
}

.mat-form-field {
    width: 768px;
    display: block;
}

.quote-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 2.5rem;
    width: 768px;
}

.quote-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem;
    width: 100%;
    // white-space: pre-line;
    background-color: rgba($color: #000000, $alpha: 0.3);
}

.quote-wrap a {
    color: cyan;
    text-underline-offset: 3px;
}

.quote-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
}

.quote-row mat-icon {
    margin-right: 0.25rem;
}
