.document-node-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: calc(768px + 6rem);
    margin-bottom: 0.7rem;
}

.node-input-container {
    flex: auto;
}

.node-operate-container {
    margin-left: 0.5rem;
}

.mat-form-field {
    width: 768px;
    display: block;
}

.list-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 2.5rem;
    width: 768px;
}

.list-wrap {
    padding: 0.5rem;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
}
