<div class="domain">
  <div class="domain-title" [matMenuTriggerFor]="operatemenu">
    <h3>{{data.name}}（<span *ngIf="data.topics">{{data.topics.length}}</span>）</h3>
  </div>
  <div class="topic-add" (click)="onAddTopicClick()"><mat-icon>add</mat-icon></div>
  <div class="topic-warp"  draggable="false" (drop)="onDropWrap($event)"  (dragover)="onDragOver($event)">
    <app-topic-item *ngFor="let topic of data.topics" [data]="topic" (onOperate)="onTopicClick($event,topic)" 
     draggable="true" (drop)="onDrop(topic, $event)"
     (drag)="onDragStart(topic, $event)"
     (dragover)="onDragOver($event)">
  </app-topic-item>
  </div>
</div>

<mat-menu #operatemenu="matMenu">
  <button mat-menu-item (click)="onUpdateClick()">
    <mat-icon>edit</mat-icon><span>修 改</span>
  </button>
  <button mat-menu-item (click)="onAddTopicClick()">
    <mat-icon>edit</mat-icon><span>添加主题</span>
  </button>
  <button mat-menu-item (click)="onDeleteClick()">
    <mat-icon>delete</mat-icon><span>删 除</span>
  </button>
</mat-menu>
