<div class="page">
  <div>
    <div class="topbar">
      <mat-icon class="topbar-icon">dashboard</mat-icon>
      <div>
        <h2>用户管理</h2>
      </div>
      <div class="box-fill"></div>
      <button type="button" mat-raised-button color="primary" (click)="onResetClick()"><mat-icon>refresh</mat-icon> 重置</button>
      <button type="button" mat-raised-button color="primary" (click)="onSearchClick()"><mat-icon>search</mat-icon> 查询</button>
    </div>
  </div>
  <div class="body-container bg-image-net">
    <div class="search-wrap">
      <form class="form">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>账号</mat-label>
          <input matInput placeholder="请输入要搜索的账号" [(ngModel)]="filter.userName" name="userName"
            autocomplete="off">
          <mat-icon matSuffix>report</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>角色</mat-label>
          <mat-select [(ngModel)]="filter.role" name="role">
            <mat-option [value]="0">所有角色</mat-option>
            <mat-option *ngFor="let op of roleOps" [value]="op.key">{{op.value}}</mat-option>
          </mat-select>
          <mat-icon matSuffix>category</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>是否禁用</mat-label>
          <mat-select [(ngModel)]="filter.limited" name="limited">
            <mat-option [value]="null">- - -</mat-option>
            <mat-option [value]="true">是</mat-option>
            <mat-option [value]="false">否</mat-option>
          </mat-select>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>最近登录时间</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="filter.startAt" name="startAt" placeholder="开始日期">
            <input matEndDate [(ngModel)]="filter.endAt" name="endAt" placeholder="结束日期">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        </form>
    </div>
    <div class="table-wrap">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef> 账号 </th>
          <td mat-cell *matCellDef="let element" style="color: #a5f3fc;min-width: 5rem;"> {{element.userName}} </td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> 角色 </th>
          <td mat-cell *matCellDef="let element" style="min-width: 5rem;">
            <span *ngIf="element.role === roleOps[0].key" style="color: #a5f3fc;">{{roleOps[0].value}}</span>
            <span *ngIf="element.role === roleOps[1].key" style="color: #fde68a;">{{roleOps[1].value}}</span>
            <span *ngIf="element.role === roleOps[2].key" style="color: #a7f3d0;">{{roleOps[2].value}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="limited">
          <th mat-header-cell *matHeaderCellDef> 禁用 </th>
          <td mat-cell *matCellDef="let element" style="min-width: 3rem;">
            <span *ngIf="element.limited == true" style="color: red;">是</span>
            <span *ngIf="element.limited != true" style="color: #c4b5fd;">否</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="lastLoginAt">
          <th mat-header-cell *matHeaderCellDef> 最近登录时间 </th>
          <td mat-cell *matCellDef="let element" style="max-width: 12rem;"> {{element.lastLoginAt| date:'yyyy-MM-dd HH:mm:ss'}} </td>
        </ng-container>
        <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef> 备注 </th>
          <td mat-cell *matCellDef="let element" style="color: #a5f3fc;min-width: 5rem;"> {{element.remark}} </td>
        </ng-container>
        <ng-container matColumnDef="operate">
          <th mat-header-cell *matHeaderCellDef> 操作 </th>
          <td mat-cell *matCellDef="let element" style="width: 6rem;">
            <button mat-icon-button matTooltip="修改账号信息" (click)="onUpdate(element)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button matTooltip="重置密码" (click)="onPsdReset(element)"><mat-icon>fingerprint</mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-element-row"></tr>
      </table>
    </div>
    <div class="footer">
      <app-paginator [total]="total" [columns]="columns" [columnOp]="columnOp" (onChange)="onPaginatorChange($event)">
      </app-paginator>
    </div>
  </div>
</div>