<div mat-dialog-title class="header">
  <h3 *ngIf="!update">添加专栏</h3>
  <h3 *ngIf="update">修改专栏[{{origionName}}]信息</h3>
</div>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>专栏名称</mat-label>
      <input placeholder="请输入专栏名称" matInput formControlName="name" autocomplete="off"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>专栏简介</mat-label>
      <textarea placeholder="请输入专栏简介" matInput formControlName="intro" autocomplete="off" rows="3"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="onCloseClick()">取消</button>
  <button mat-button [disabled]="!form.valid" color="accent" (click)="onSaveClick()">保存</button>
</div>