.document-node-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: calc(768px + 82px);
    margin-bottom: 0.7rem;
}

.node-input-container {
    flex: auto;
}

.node-operate-container {
    margin-left: 0.5rem;
}

.mat-form-field {
    width: 768px;
    display: block;
}

.p-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 2.5rem;
    width: 768px;
}

p {
    text-indent: 2rem;
    margin: 0;
    line-height: 1.5rem;
}

span{
    letter-spacing: 0.1rem;
}
