.page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 4rem auto;
    overflow-y: auto;
}

.body-container {
    display: flex;
    height: calc(100vh - 7rem);
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.note-wrap {
    display: grid;
    column-count: 1;
    gap: 1rem;
    max-height: calc(100vh - 13rem);
    margin-top: 1rem;
    width: 768px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 1rem;
    padding-right: 0.5rem;
}

:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    margin-bottom: -1.25em;
}

.mat-form-field {
    margin-right: 1rem;
    width: 18rem;
}

.footer {
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: rgb(29, 115, 115, 100%);
    margin-top: 1rem;
}
