<div class="page">
  <div>
    <div class="topbar">
      <mat-icon class="topbar-icon">dashboard</mat-icon>
      <div>
        <h2>组内分享（168篇）</h2>
      </div>
      <div class="box-fill"></div>
      <mat-form-field appearance="legacy" color="accent">
        <mat-label>笔记标题与关键字</mat-label>
        <input matInput placeholder="请输入要查询的标题与关键字" autocomplete="off" [(ngModel)]="filter">
      </mat-form-field>
      <button type="button" mat-raised-button color="primary" (click)="onResetClick()"><mat-icon>autorenew</mat-icon> 重置</button>
      <button type="button" mat-raised-button color="primary" (click)="onSearchClick()"><mat-icon>search</mat-icon> 查询</button>
    </div>
  </div>
  <div class="body-container bg-image-net">
    <div class="note-wrap">
      <app-note-item *ngFor="let note of notes" [data]="note" [fileBaseUrl]="hostServ.fileBaseUrl" [isAuthor]="false"
       (onClick)="onNoteOpClick($event,note)" [type]="noteType.public"></app-note-item>
    </div>
    <div class="footer">
      <app-paginator [total]="total" [columns]="columns" [columnOp]="columnOp" [pageSize]="pageSize" (onChange)="onPaginatorChange($event)">
      </app-paginator>
    </div>
  </div>
</div>
