<div class="page">
  <div>
    <div class="topbar">
      <mat-icon class="topbar-icon">dashboard</mat-icon>
      <div>
        <h2>组内分享（168篇）</h2>
      </div>
      <div class="box-fill"></div>
      <mat-form-field appearance="legacy" color="accent">
        <mat-label>笔记标题</mat-label>
        <input matInput placeholder="请输入要查询的笔记标题" autocomplete="off">
      </mat-form-field>
      <button type="button" mat-raised-button color="primary"><mat-icon>add</mat-icon> 查询</button>
      <button type="button" mat-raised-button color="primary"><mat-icon>refresh</mat-icon> 重置</button>
      <button type="button" mat-raised-button color="primary"><mat-icon>refresh</mat-icon> 刷新</button>
    </div>
  </div>
  <div class="body-container bg-image-net">
    <div class="note-wrap">
      <app-note-item *ngFor="let item of [].constructor(15)"
       (onClick)="onNoteClick(item)"></app-note-item>
    </div>
    <div class="footer">
      <app-paginator [total]="total" [columns]="columns" [columnOp]="columnOp" (onChange)="onPaginatorChange($event)">
      </app-paginator>
    </div>
  </div>
</div>
