.page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 4rem auto;
    overflow-y: auto;
}

.body-container {
    display: flex;
    height: calc(100vh - 7rem);
    width: 100%;
    justify-content: center;
    
}