<div class="document-node-container">
  <div class="node-input-container">
    <mat-form-field appearance="outline" *ngIf="edit">
      <textarea
        (blur)="onInputBlur()"
        matInput
        #input
        [(ngModel)]="node.content"
        placeholder="请输入段落内容"
        cdkTextareaAutosize
      ></textarea>
    </mat-form-field>
    <div class="p-container" *ngIf="!edit" (click)="onInputFocus()">
      <p>
        <span *ngFor="let ele of elements" [ngStyle]="ele.style">
          {{ ele.text }}
        </span>
      </p>
    </div>
  </div>
  <div class="node-operate-container" *ngIf="edit">
    <app-operate></app-operate>
  </div>
</div>
