<div class="page">
  <div>
    <div class="topbar">
      <mat-icon class="topbar-icon">dashboard</mat-icon>
      <div><h2>我的收藏 - 专栏({{columns.length}})</h2></div>
      <div class="box-fill"></div>
      <input type="file" #imageInput [hidden]="true" accept="image/*" (change)="onFileChange($event)" [ngModel]="file"/>
      <button type="button" mat-raised-button color="primary" (click)="onAddColumnClick()"><mat-icon>add</mat-icon> 添加专栏</button>
      <button type="button" mat-raised-button color="primary" (click)="onResetClick()"><mat-icon>autorenew</mat-icon> 刷新</button>
    </div>
  </div>
  <div class="body-container bg-image-net">
    <div class="column-collect">
      <div class="column-box">
        <div class="column-wrap" cdkDropList (cdkDropListDropped)="onColumnDrop($event)">
          <app-column-item [selectedId]="selectedColumn?.id" [data]="column" *ngFor="let column of columns" cdkDrag [isFavorite]="true"
           [fileBaseUrl]="hostServ.fileBaseUrl" (onOperate)="onColumnOpClick($event,column)"></app-column-item>
        </div>
      </div>
    </div>
    <div class="note-wrap">
      <app-note-item *ngFor="let item of [].constructor(15)"
       (onClick)="onNoteClick(item)"></app-note-item>
    </div>
  </div>
</div>