.card {
    position: relative;
    width: 250px;
    //height: 170px;
    height: 300px;
    background-color: rgb(29, 115, 115, 0.7);
    border-radius: 5px;
    box-shadow: 0 35px 80px rgb(0, 0, 0, 0.35);
    transition: 0.3s;
    //transition-delay: 200ms;
    margin-top: 35px;
}

.card:hover {
    //height: 300px;
    background-color: rgb(29, 115, 115, 1);
}

.card .img-box {
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-35px);
    width: 120px;
    height: 120px;
    background-color: rgb(0, 0, 0, 1);
    border-radius: 5px;
    box-shadow: 0 15px 50px rgb(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.3s;
}

.card:hover .img-box {
    width: 150px;
    height: 150px;
}

.card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.card .content {
    position: absolute;
    top: 120px;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    transition: 0.3s;
}

.card .content .detail {
    padding: 10px 20px 20px 20px;
    text-align: center;
    width: 100%;
    transition: 0.3s;
}

// .card:hover .content .detail {
//     transform: translateY(25px);
// }

.card .content .detail h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: whitesmoke;
    line-height: 1.5em;
    margin-bottom: 12px !important;
    margin-top: 0 !important;
}

.card .content .detail h2 span {
    font-size: 0.75em;
    font-weight: 500;
    color: lightgrey;
}

.card .content .detail .data {
    display: flex;
    justify-content: space-between;
}

.card .content .detail .data h3 {
    font-size: 0.9em;
    font-weight: 600;
    color: whitesmoke;
    line-height: 1.5em;
    margin-bottom: 12px !important;
    margin-top: 12px !important;
}

.card .content .detail .data h3 span {
    font-size: 0.75em;
    font-weight: 500;
    color: lightgrey;
}

.card .content .detail .action {
    display: flex;
    justify-content: space-around;
}

.card .open-icon {
    height: 1em;
    width: 1em;
    font-size: 1em !important;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    //@at-root: 1rem !important;
}
