.note-container {
    max-height: 12rem;
    background-color: rgb(29, 115, 115, 50%);
    display: grid;
    grid-template-columns: auto 12rem;
    padding: 1rem 1rem 0.5rem 1rem;
    row-gap: 0.5rem;
    column-gap: 1rem;
}

.note-container:hover {
    background-color: rgb(29, 115, 115, 90%);
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 70%);
    transition: 0.3s;
}

.note-container .info {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 2rem auto 1.5rem;
    gap: 0.5rem;
}

.note-container .info h2 {
    font-weight: bold !important;
}

.note-container .info .sub {
    width: 100%;
    display: grid;
    grid-template-columns: auto 9rem 6rem 8rem;
    gap: 0.5rem;
}

.note-container .info .sub div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content {
    text-indent: 2rem;
    margin: 0;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    overflow: hidden;  
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.note-container .profile {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-container img {
    width: 12rem;
    max-height: 12rem;
    opacity: 0.8;
}
