<div class="note-container" (click)="onMyClick()">
    <div class="info">
        <h2>开发一个小而美的个人博客</h2>
        <div class="content">
            二是农民工群体就业形势好转。农民工群体多从事劳动密集型制造业
            二是农民工群体就业形势好转。农民工群体多从事劳动密集型制造业和服务业行业，以个体户和灵活就业的居多，就业稳定性相对较差。受疫情冲击影响，4月份外来农业户籍人口失业率升至6.6%，随着疫情逐步得到控制，助企稳岗措施发力，农民工群体的就业明显改善。5月份外来农业户籍人口失业率降至6.2%，6月份降至5.3%，低于整体失业率水平。
        </div>
        <div class="sub">
            <div><mat-icon>group</mat-icon>&nbsp;作者</div>
            <div><mat-icon>group</mat-icon>&nbsp;2022-07-30</div>
            <div><mat-icon>group</mat-icon>&nbsp;163字</div>
            <div><mat-icon>group</mat-icon>&nbsp;12次阅读</div>
        </div>
    </div>
    <div class="profile">
        <img [src]="imgUrl" alt=""/>
    </div>
</div>
