<div class="page bg-image-net">
  <div class="container">
    <div class="bg-box"></div>
    <div class="wrap">
      <div class="exhibition"></div>
      <div class="info">
        <img src="/assets/icons/logo_256.png" alt=""/>
        <div class="title">忘&nbsp;&nbsp;记&nbsp;&nbsp;密&nbsp;&nbsp;码&nbsp;&nbsp;？</div>
        <h1>请联系管理员进行重置！</h1>
        <button mat-raised-button color="primary" (click)="confirm()">
          确&nbsp;&nbsp;&nbsp;&nbsp;认</button>
      </div>
    </div>
  </div>
</div>