.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: auto;
}

.container {
    height: 520px;
    width: 1000px;
    background-color: #424242;
    overflow: hidden;
}

.wrap {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
}

.exhibition {
    height: 100%;
    background-image: url("/assets/bgs/fall_is_coming.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info img {
    height: 128px;
    width: 128px;
    margin-bottom: 2rem;
}

.info .title {
    font-size: xx-large;
    font-weight: bolder;
    line-height: 50px;
    margin-bottom: 2rem;
}

.info h1 {
    margin-bottom: 1rem;
}

.info h2 {
    margin-bottom: 0.5rem;
}

.info button {
    margin-top: 2rem;
    width: 150px;
}

.bg-box {
    position: absolute;
    width: 700px;
    z-index: 0;

    border: 0px solid transparent;
    border-top: 520px solid #6366f147;
    border-right: 150px solid transparent;
    height: 0;
}
