<div class="page">
  <div>
    <div class="topbar">
      <mat-icon class="topbar-icon">dashboard</mat-icon>
      <div>
        <h2>阅读 - {{noteName}}</h2>
      </div>
      <div class="box-fill"></div>
      <button type="button" mat-raised-button color="primary" (click)="onPrintClick()"><mat-icon>print</mat-icon> 打印</button>
      <button type="button" mat-raised-button color="primary" (click)="onBackClick()"><mat-icon>arrow_back</mat-icon> 返回</button>
    </div>
  </div>
  <div class="body-container">
    <div class="tree-container">
      <div class="tree-p">
        <app-tree [nodes]="serv.nodes"></app-tree>
      </div>
    </div>
    <div class="editor-container">
      <app-editor [nodes]="serv.nodes"></app-editor>
    </div>
  </div>
</div>
