.container {
    display: flex;
    width: 60px;
    height: 30px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-left: 3px solid darkcyan;
    background: linear-gradient(90deg, rgb(29, 115, 115, 50%), rgb(29, 115, 115, 0%));
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    background: linear-gradient(90deg, rgb(29, 115, 115, 70%), rgb(29, 115, 115, 0%));
}

.container .mat-icon {
    margin-left: 5px;
    width: 18px;
    height: 18px;
    line-height: 20px;
}

.container .material-icons {
    font-size: 18px;
}
