.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: auto;
}

.container {
    height: 520px;
    width: 1000px;
    background-color: #424242;
    overflow: hidden;
}

.wrap {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
}

.exhibition {
    height: 100%;
    background-image: url("/assets/bgs/tree_swing.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

form {
    margin-left: -110px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 1rem;
}

form img {
    height: 80px;
    width: 80px;
}

form .title {
    font-size: x-large;
    font-weight: bolder;
    line-height: 40px;
    margin-bottom: 0.5rem;
    font-style: oblique;
}

form mat-form-field {
    width: 300px;
    margin-bottom: 0.5rem;
}

form .link {
    margin-bottom: 0.5rem;
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

form button {
    width: 150px;
}

.bg-box {
    position: absolute;
    width: 700px;
    z-index: 0;
    border: 0px solid transparent;
    border-top: 520px solid #6366f147;
    border-right: 150px solid transparent;
    height: 0;
}
