<div class="page">
  <div>
    <div class="topbar">
      <mat-icon class="topbar-icon">dashboard</mat-icon>
      <div>
        <h2>主题 - 专栏(12)</h2>
      </div>
      <div class="box-fill"></div>
      <button type="button" mat-raised-button color="primary"><mat-icon>add</mat-icon> 添加专栏</button>
      <button type="button" mat-raised-button color="primary"><mat-icon>refresh</mat-icon> 重置</button>
      <button type="button" mat-raised-button color="primary"><mat-icon>refresh</mat-icon> 刷新</button>
      <button type="button" mat-raised-button color="primary"><mat-icon>refresh</mat-icon> 返回</button>
    </div>
  </div>
  <div class="body-container bg-image-net">
    <div class="column-collect">
      <div class="column-box">
        <div class="column-wrap">
          <app-column-item *ngFor="let item of [].constructor(8)"></app-column-item>
        </div>
      </div>
    </div>
    <div class="note-wrap">
      <app-note-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13]"
      [imgUrl]="'assets/files/card_'+item+'.png'"></app-note-item>
    </div>
  </div>
</div>