.page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 4rem auto;
    overflow-y: hidden;
}

.body-container {
    display: flex;
    gap: 1.5rem;
    height: calc(100vh - 7rem);
    width: 100%;
    justify-content: center;
    overflow-y: auto;
}

.column-collect {
    height: 100%;
    max-width: 280px;
    min-width: 200px;
    width: 100%;
}

.column-box {
    position: fixed;
    top: 8rem;
    margin-bottom: 2rem;
    max-width: 280px;
    min-width: 200px;
    width: 100%;
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.column-box {
    border: 2px solid rgb(29, 115, 115);
    border-radius: 10px;
    height: 100%;
    background-color: rgb(29, 115, 115, 50%);
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: flex-start;
}


.note-wrap {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    max-height: calc(100vh - 9rem);
    margin-top: 1rem;
    width: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 1rem;
    padding-right: 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}