<div class="page">
  <div>
    <div class="topbar">
      <mat-icon class="topbar-icon">widgets</mat-icon>
      <div>
        <h2>[{{topicName}}]主题 - 
          <span *ngIf="selectedColumn?.name">[{{selectedColumn?.name}}]</span>
          专栏({{columns.length}})</h2>
      </div>
      <div class="box-fill"></div>
      <input type="file" #imageInput [hidden]="true" accept="image/*" (change)="onFileChange($event)" [ngModel]="file"/>
      <button type="button" mat-raised-button color="primary" (click)="onAddColumnClick()"><mat-icon>playlist_add</mat-icon> 添加专栏</button>
      <button type="button" mat-raised-button color="primary" *ngIf="notes.length>0" (click)="onSortNote()"><mat-icon>sort</mat-icon> 笔记排序</button>
      <button type="button" mat-raised-button color="primary" (click)="onResetClick()"><mat-icon>autorenew</mat-icon> 刷新</button>
      <button type="button" mat-raised-button color="primary" (click)="onBackClick()"><mat-icon>arrow_back</mat-icon> 返回</button>
    </div>
  </div>
  <div class="body-container bg-image-net">
    <div class="column-collect">
      <div class="column-box">
        <div class="column-wrap" cdkDropList (cdkDropListDropped)="onColumnDrop($event)">
          <app-column-item [selectedId]="selectedColumn?.id" [data]="column" *ngFor="let column of columns" cdkDrag
           [fileBaseUrl]="hostServ.fileBaseUrl" (onOperate)="onColumnOpClick($event,column)"></app-column-item>
        </div>
      </div>
    </div>
    <div class="note-wrap">
      <app-note-item *ngFor="let note of notes" [data]="note" [fileBaseUrl]="hostServ.fileBaseUrl" [isAuthor]="true"
       (onClick)="onNoteOpClick($event,note)"></app-note-item>
    </div>
  </div>
</div>