.page-container {
    display: flex;
    //grid-template-columns: 15rem auto;
    gap: 1.5rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    overflow-y: hidden;
}

.tree-container {
    height: 100%;
    max-width: 280px;
    min-width: 200px;
    width: 100%;
}

.editor-container {
    display: flex;
    align-items: flex-start;
    //justify-content: center;
    // height: 100vh;
    // overflow-y: auto;
}

.tree-p {
    position: fixed;
    top: 2rem;
    margin-bottom: 2rem;
    max-width: 280px;
    min-width: 200px;
    width: 100%;
    max-height: calc(100vh - 3rem);
    overflow-y: auto;
    padding-right: 0.5rem;
}
