.page-container {
    display: flex;
    //grid-template-columns: 15rem auto;
    gap: 1rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    overflow-y: hidden;
}

.tree-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.editor-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    //height: 100vh;
    overflow-y: auto;
    width: 100%;
}
