<!-- <router-outlet></router-outlet> -->

<div class="page-container">
  <div class="tree-container">
    <div>
      <button (click)="onAddNode()">添加</button>
      <button [disabled]="!service.selectedNode" (click)="onUpdateNode()">
        修改
      </button>
      <button [disabled]="!service.selectedNode" (click)="onDeleteNode()">
        删除
      </button>
    </div>
    <app-sun-tree [nodes]="service.nodes"></app-sun-tree>
  </div>
  <div class="editor-container">
    <app-sun-editor></app-sun-editor>
  </div>
</div>
