.document-node-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: calc(1024px + 6rem);
    margin-bottom: 0.5rem;
}

.node-input-container {
    flex: auto;
}

.node-operate-container {
    margin-left: 0.5rem;
}

.mat-form-field {
    min-width: 768px;
    max-width: 1024px;
    display: block;
}

.headline-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 2.5rem;
}

.headline-container h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
    font-weight: bold !important;
}
