<div class="document-node-container">
  <div class="node-input-container">
    <mat-form-field appearance="outline" *ngIf="edit">
      <textarea
        (blur)="onInputBlur()"
        matInput
        #input
        [(ngModel)]="node.content"
        placeholder="请输入标题内容"
        cdkTextareaAutosize
      ></textarea>
    </mat-form-field>
    <div class="headline-container" *ngIf="!edit" (click)="onInputFocus()" #view>
      <h2 *ngIf="node.type == nodeType.h2">{{ node.content }}</h2>
      <h3 *ngIf="node.type == nodeType.h3">{{ node.content }}</h3>
      <h4 *ngIf="node.type == nodeType.h4">{{ node.content }}</h4>
      <h5 *ngIf="node.type == nodeType.h5">{{ node.content }}</h5>
      <h6 *ngIf="node.type == nodeType.h6">{{ node.content }}</h6>
    </div>
  </div>
  <div class="node-operate-container" >
    <app-operate></app-operate>
  </div>
</div>
