<div class="document-node-container">
  <div class="node-input-container">
    <input
      type="file"
      #videoInput
      [hidden]="true"
      accept="video/*"
      (change)="onFileChange($event)"
      [ngModel]="file"
    />
    <div class="editor-video-up-container" *ngIf="!node.url && service.canEdit">
      <button mat-flat-button color="primary" (click)="onFileClick()">
        <mat-icon>cloud_upload</mat-icon>
        &nbsp;&nbsp;点击上传视频
      </button>
    </div>
    <div class="editor-video-container" *ngIf="node.url && !service.printMode" #view>
      <video controls [src]="service.fileBaseUrl+node.url" [loop]="true" [volume]="0.2"></video>
      <div class="editor-video-name">{{ node.content }}</div>
    </div>
  </div>
  <div class="node-operate-container" *ngIf="service.canEdit">
    <app-operate [nodeType]="node.type" [matMenuTriggerFor]="operatemenu"></app-operate>
  </div>
</div>

<mat-menu #operatemenu="matMenu">
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.p)">
    <mat-icon>subject</mat-icon><span>添加段落</span>
  </button>
  <button mat-menu-item (click)="onFileClick()">
    <mat-icon>edit</mat-icon><span>替换</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="addother">
    <mat-icon>library_add</mat-icon><span>添加其他元素</span>
  </button>
  <button mat-menu-item (click)="service.removeNode(node)">
    <mat-icon>delete</mat-icon><span>删除</span>
  </button>
</mat-menu>

<mat-menu #addother="matMenu">
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.img)">
    <mat-icon>image</mat-icon><span>图片</span>
  </button>
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.list)">
    <mat-icon>format_list_bulleted</mat-icon><span>清单</span>
  </button>
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.table)">
    <mat-icon>grid_on</mat-icon><span>表格</span>
  </button>
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.code)">
    <mat-icon>code</mat-icon><span>代码</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="addmore">
    <mat-icon>more_vert</mat-icon><span>更多</span>
  </button>
</mat-menu>

<mat-menu #addmore="matMenu">
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.link)">
    <mat-icon>link</mat-icon><span>链接</span>
  </button>
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.quote)">
    <mat-icon>format_quote</mat-icon><span>引用</span>
  </button>
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.file)">
    <mat-icon>attach_file</mat-icon><span>文件</span>
  </button>
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.audio)">
    <mat-icon>mic</mat-icon><span>音频</span>
  </button>
</mat-menu>