<div class="document-node-container">
  <div class="node-input-container">
    <mat-form-field appearance="outline" *ngIf="edit">
      <textarea
        (blur)="onInputBlur()"
        matInput
        #input
        [(ngModel)]="node.content"
        placeholder="请输入引用内容"
        rows="5"
      ></textarea>
    </mat-form-field>
    <div class="link-container" *ngIf="!edit" (click)="onInputFocus()">
      <div class="link-wrap">
        <div *ngFor="let item of links" class="link-row">
          <mat-icon color="primary">insert_link</mat-icon>
          <a [href]="item.url" target="_blank" *ngIf="item.url">
            {{ item.name }}
          </a>
          <span *ngIf="!item.url">{{ item.name }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="node-operate-container">
    <app-operate></app-operate>
  </div>
</div>
