.container {
    display: flex;
    width: 5.5rem;
    height: 3rem;
    margin-top: 0.3rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #42424296;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
