<div class="container">
  <button mat-mini-fab color="accent" [matMenuTriggerFor]="nodemenu">
    <mat-icon>filter_list</mat-icon>
  </button>
  <button mat-mini-fab color="accent" [matMenuTriggerFor]="operatemenu">
    <mat-icon>settings</mat-icon>
  </button>
</div>

<mat-menu #nodemenu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

<mat-menu #operatemenu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>
