.document-node-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: calc(768px + 6rem);
    margin-bottom: 0.7rem;
}

.node-input-container {
    flex: auto;
}

.editor-audio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 768px;
}

.editor-audio-up-container {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0 0.5rem 0;
    width: 768px;
}

.node-operate-container {
    margin-left: 0.5rem;
}

audio {
    filter: sepia(10%) saturate(70%) grayscale(10) contrast(99%) invert(20%);
    width: 500px;
}

.editor-audio-name{
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}