<div class="document-node-container">
  <div class="node-input-container">
    <input
      type="file"
      #audioInput
      [hidden]="true"
      accept="audio/*"
      (change)="onFileChange($event)"
      [ngModel]="file"
    />
    <div class="editor-audio-up-container" *ngIf="!node.url">
      <button mat-flat-button color="primary" (click)="onAvatarClick()">
        <mat-icon>cloud_upload</mat-icon>
        &nbsp;&nbsp;点击上传音频
      </button>
    </div>

    <div class="editor-audio-container" *ngIf="node.url">
      <audio controls [src]="node.url" [loop]="true" [volume]="0.2"></audio>
      <div class="editor-audio-name">{{ node.content }}</div>
    </div>
  </div>

  <div class="node-operate-container">
    <app-operate></app-operate>
  </div>
</div>
