.page {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 4rem auto;
    overflow-y: auto;
}

.body-container {
    display: flex;
    min-height: calc(100vh - 7rem);
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.search-wrap{
    //height: 3rem;
    border-radius: 0.5rem;
    background-color: rgb(29, 115, 115, 100%);
    margin-top: 1rem;
    width: 1024px;
    padding-left: 1rem;
    padding-right: 1rem;
}

form{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    padding-top: 1.25em;
}

.table-wrap{
    min-height: 8rem;
    border-radius: 0.5rem;
    background-color: rgb(29, 115, 115, 100%);
    margin-top: 1rem;
    width: 1024px;
    padding-left: 1rem;
    padding-right: 1rem;
    //overflow-y: auto;
}

table {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer {
    height: 4rem;
    width: 1024px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: rgb(29, 115, 115, 100%);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
