<div mat-dialog-title class="header">
  <h3 *ngIf="!update">添加笔记</h3>
  <h3 *ngIf="update">修改笔记[{{origionName}}]信息</h3>
</div>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>笔记名称</mat-label>
      <input placeholder="请输入笔记名称" matInput formControlName="name" autocomplete="off"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>关键字</mat-label>
      <input placeholder="请输入关键字" matInput formControlName="keys" autocomplete="off" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="onCloseClick()">取消</button>
  <button mat-button [disabled]="!form.valid" color="accent" (click)="onSaveClick()">保存</button>
</div>