.node {
    min-height: 2.1rem;
    height: auto;
    color: lightgray;
}

.node-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: #1d7373;
    height: 1.7rem;
}

.node-top:hover {
    background-color: #009999 !important;
}

.node-top img {
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
    margin-left: 0.25rem;
}

.node-body {
    height: auto;
    border-left: 2px dotted gray;
    //border-bottom: 2px dotted gray;
    margin: 0 0 10px 10px;
    padding: 10px 0 0px 10px;
}
