<div class="document-node-container">
  <div class="node-input-container">
    <input
      type="file"
      #fileInput
      [hidden]="true"
      accept="*"
      (change)="onFileChange($event)"
      [ngModel]="file"
    />
    <div class="editor-file-up-container" *ngIf="!node.url">
      <button mat-flat-button color="primary" (click)="onFileClick()">
        <mat-icon>cloud_upload</mat-icon>
        &nbsp;&nbsp;点击上传文件
      </button>
    </div>
    <div class="file-container" *ngIf="!edit" #view>
      <div class="file-wrap">
        <div class="file-row">
          <mat-icon color="primary">cloud_download</mat-icon>
          <a
            [href]="node.url"
            target="_blank"
            *ngIf="node.url"
            [download]="node.content"
          >
            <span>{{ node.content }}</span>
          </a>
          <span *ngIf="!node.url">{{ node.content }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="node-operate-container">
    <app-operate [nodeType]="node.type" [matMenuTriggerFor]="operatemenu"></app-operate>
  </div>
</div>
<mat-menu #operatemenu="matMenu">
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.quote)">
    <mat-icon>subject</mat-icon><span>添加段落</span>
  </button>
  <button mat-menu-item (click)="onFileClick()">
    <mat-icon>edit</mat-icon><span>替换</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="addother">
    <mat-icon>library_add</mat-icon><span>添加其他元素</span>
  </button>
  <button mat-menu-item (click)="service.removeNode(node)">
    <mat-icon>delete</mat-icon><span>删除</span>
  </button>
</mat-menu>

<mat-menu #addother="matMenu">
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.img)">
    <mat-icon>image</mat-icon><span>图片</span>
  </button>
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.list)">
    <mat-icon>format_list_bulleted</mat-icon><span>清单</span>
  </button>
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.table)">
    <mat-icon>grid_on</mat-icon><span>表格</span>
  </button>
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.code)">
    <mat-icon>code</mat-icon><span>代码</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="addmore">
    <mat-icon>more_vert</mat-icon><span>更多</span>
  </button>
</mat-menu>

<mat-menu #addmore="matMenu">
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.link)">
    <mat-icon>link</mat-icon><span>链接</span>
  </button>
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.quote)">
    <mat-icon>format_quote</mat-icon><span>引用</span>
  </button>
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.audio)">
    <mat-icon>mic</mat-icon><span>音频</span>
  </button>
  <button mat-menu-item (click)="service.insertNotHeadPeerNode(node,service.NodeType.video)">
    <mat-icon>videocam</mat-icon><span>视频</span>
  </button>
</mat-menu>