@use "@angular/material" as mat;
@include mat.core();

$customer-app-primary: mat.define-palette(mat.$teal-palette);
$customer-app-accent: mat.define-palette(mat.$amber-palette, 600);
$customer-app-warn: mat.define-palette(mat.$red-palette, A400);
$customer-app-theme: mat.define-dark-theme(
  (
    color: (
      primary: $customer-app-primary,
      accent: $customer-app-accent,
      warn: $customer-app-warn,
    ),
  )
);

@include mat.all-component-themes($customer-app-theme);
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(./@arts/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "楷体", "Helvetica Neue", sans-serif;
  color: lightgray;
  background-color: #303030;
  overflow-y: hidden;
}

@import "./@arts/common.css";
