@use "@angular/material" as mat;
@include mat.core();

$customer-app-primary: mat.define-palette(mat.$teal-palette);
$customer-app-accent: mat.define-palette(mat.$amber-palette, 600);
$customer-app-warn: mat.define-palette(mat.$red-palette, A400);
$customer-app-theme: mat.define-dark-theme(
  (
    color: (
      primary: $customer-app-primary,
      accent: $customer-app-accent,
      warn: $customer-app-warn,
    ),
  )
);

@include mat.all-component-themes($customer-app-theme);
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(./@arts/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

body {
  margin: 0;
  font-family: Roboto, "楷体", "Helvetica Neue", sans-serif;
  color: lightgray;
  background-color: #303030;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.topbar {
  width: 100%;
  background-color: #1d7373;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 99;
  margin-top: 3rem;
  position: fixed;
  top: 0;
  height: 4rem;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.topbar .topbar-icon {
  margin-left: 1rem;
}

.topbar h2 {
  text-align: center;
  margin: 0 0 0 0.5rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
}

.topbar h2:hover {
  color: white;
}

.topbar button {
  margin-right: 1rem;
}

.box-fill {
  flex: 1;
}

.table-header-row {
  height: 3rem;
  background-color: #303030;
}
.table-element-row:hover {
  background-color: #303030;
}

table button {
  margin-right: 0.5rem;
}

table mat-icon {
  color: orange;
}

table mat-icon:hover {
  color: #e91e63;
}

thead tr th {
  z-index: 15 !important;
}

@import "./@arts/common.css";
