<div class="document-node-container">
  <div class="node-input-container">
    <mat-form-field appearance="outline" *ngIf="edit">
      <textarea
        (blur)="onInputBlur()"
        matInput
        #input
        [(ngModel)]="node.content"
        placeholder="请输入段落内容"
        rows="5"
      ></textarea>
    </mat-form-field>
    <div
      class="table-container"
      [ngStyle]="containerStyle"
      *ngIf="!edit"
      (click)="onInputFocus()"
    >
      <table>
        <tr>
          <th *ngFor="let item of ths">{{ item }}</th>
        </tr>
        <tr *ngFor="let row of rows">
          <th *ngFor="let item of row">{{ item }}</th>
        </tr>
      </table>
    </div>
  </div>
  <div class="node-operate-container">
    <app-operate></app-operate>
  </div>
</div>
