<div class="page">
  <div>
    <div class="topbar">
      <mat-icon class="topbar-icon">widgets</mat-icon>
      <div>
        <h2>笔记 - 领域（{{domains.length}}）| 主题</h2>
      </div>
      <div class="box-fill"></div>
      <input type="file" #imageInput [hidden]="true" accept="image/*" (change)="onFileChange($event)" [ngModel]="file"/>
      <button type="button" mat-raised-button color="primary" (click)="onAddDomain()"><mat-icon>add</mat-icon> 添加领域</button>
      <button type="button" mat-raised-button color="primary" *ngIf="domains.length>0" (click)="onSortDomain()"><mat-icon>sort</mat-icon> 领域排序</button>
      <button type="button" mat-raised-button color="primary" (click)="onRefreshClick()"><mat-icon>autorenew</mat-icon> 刷新</button>
    </div>
  </div>
  <div class="body-container bg-image-net">
    <div class="domain-wrap">
      <app-domain *ngFor="let domain of domains" [data]="domain" (onUpdate)="onUpdateDomain(domain)"
      (onDelete)="onDeleteDomain(domain)" (onAddTopic)="onAddTopic(domain)" (onTopic)="onTopic($event)" ></app-domain>
    </div>
  </div>
</div>
  