<div class="editor-container" [ngSwitch]="item.type" *ngFor="let item of nodes">
    <app-editor-headline *ngSwitchCase="nodeType.h2" [node]="item"></app-editor-headline>
    <app-editor-headline *ngSwitchCase="nodeType.h3" [node]="item"></app-editor-headline>
    <app-editor-headline *ngSwitchCase="nodeType.h4" [node]="item"></app-editor-headline>
    <app-editor-headline *ngSwitchCase="nodeType.h5" [node]="item"></app-editor-headline>
    <app-editor-headline *ngSwitchCase="nodeType.h6" [node]="item"></app-editor-headline>

    <app-editor-paragraph *ngSwitchCase="nodeType.p" [node]="item"></app-editor-paragraph>
    <app-editor-img *ngSwitchCase="nodeType.img" [node]="item"></app-editor-img>
    <app-editor-list *ngSwitchCase="nodeType.list" [node]="item"></app-editor-list>
    <app-editor-table *ngSwitchCase="nodeType.table" [node]="item"></app-editor-table>
    <app-editor-link *ngSwitchCase="nodeType.link" [node]="item"></app-editor-link>
    <app-editor-quote *ngSwitchCase="nodeType.quote" [node]="item"></app-editor-quote>

    <app-editor-code *ngSwitchCase="nodeType.code" [node]="item"></app-editor-code>
    <app-editor-file *ngSwitchCase="nodeType.file" [node]="item"></app-editor-file>
    <app-editor-video *ngSwitchCase="nodeType.video" [node]="item"></app-editor-video>
    <app-editor-audio *ngSwitchCase="nodeType.audio" [node]="item"></app-editor-audio>

    <div class="children-wrap" *ngIf="item.children && item.children.length > 0">
        <app-sun-editor [nodes]="item.children"></app-sun-editor>
    </div>
</div>